<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Symfony2 sandbox{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block content %}
    <h1>Symfony2 sandbox</h1>
{% endblock %}
{% block footer %}
    <div class="footer" style="font-size:10px; color:lightgrey; text-align:center; font-weight:bold;">
        copyright sensiolabs 2015
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>