{% extends 'layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <ul>
        {% for user in users %}
            <li><a href="/user/{{ user.id }}">{{ user.username }}</a>: <strong>{{ user.email }}</strong></li>
        {% endfor %}
    </ul>
{% endblock %}
